<h3><%= @mechanic.name  %></h3>

<h4>Years of experience: <%= @mechanic.years_of_experience  %></h4>
<h6> All open rides for this mechanic, ordered by thrill rating:  </h6>
  <% @rides.each do |ride|  %>
    <ul>
    <li><%= ride.name %></li></ul>
<% end %>

<h3><%="Add a ride for #{@mechanic.name}"%></h3>
<%= form_with url: "/mechanics/#{@mechanic.id}/work_orders", local: true do |f| %>
  <%= f.label :ride_id %>
  <%= f.number_field :ride_id %>
  <%= f.submit 'Submit' %>
<% end %>
