<h1><%= @mechanics.name %></h1>
<p>Experience in years: <%= @mechanics.years_of_experience %></p>
<h3>Currently Maintaining:</h3>

<% @rides.each do |ride| %>
  <p><%= ride.name %></p>
  <p>Thrill Rating: <%= ride.thrill_rating %></p>
  <p>Open: <%= ride.open %></p>
<% end %>

<p>Add a ride to mechanic's workload:</p>
<%= form_with url: "/mechanics/#{@mechanics.id}", method: :post, local: true do |form| %>
  <%= form.label :ride_id, 'ride ID' %>
  <%= form.text_field :ride_id, required: true %>
  <%= form.submit "Add ride" %>
<% end %>
