<h1> <%= @mechanic.name %>'s Page </h1>
<h3> Working with us for <%= @mechanic.years_of_experience %> years! </h3>

<h3>Assign Ride to <%= @mechanic.name %>: </h3>

<h2>Assigned Rides: </h2>
<% @mechanic.order_by_thrill_rating.each do |ride| %>
  <% if ride.open == true %>
    <b><%= ride.name %></b><br>
    <b><%= ride.thrill_rating %></b><br>
    <b><%= ride.open %></b><br>
    <br>
  <% else %>
  <% end %>
<% end %>
