<h1><%= @mechanic.name %></h1>
<h3>Years of Experience: <%= @mechanic.years_of_experience %></h3>
<h3>Rides Currently Working On:</h3>
<% @rides.order_by_thrill_rating.each do |ride| %>
  <div id="ride-<%= ride.id %>">
    <p><%= ride.name %></p>
  </div>
<% end %>

<%= form_with url: "/mechanics/#{@mechanic.id}", method: :post, local: true do |f| %>
  <%= f.label :ride_id, 'Ride Id: ' %>
  <%= f.text_field :ride_id %>
  <%= f.submit 'Submit' %>
<% end %>
