<h3><%= @mechanic.name  %></h3>
<h4><%= @mechanic.years_of_experience  %></h4>
<% @rides.each do |ride|  %>
  <h6> All open rides for this mechanic, ordered by thrill rating:
    <%= ride.name %>
  </h6>
<% end %>

<h3><%="Add a ride for #{@mechanic.name}"%></h3>
<%= form_with url: "/mechanics/#{@mechanic.id}/work_orders", local: true do |f| %>
  <%= f.label :ride_id %>
  <%= f.number_field :ride_id %>
  <%= f.submit 'Submit' %>
<% end %>
