<h1><%= @park.name  %></h1>
<h3>Price: <%= number_to_currency(@park.price, precision:2) %></h3>
<% @alpha.each do |ride| %>
<ul>
  <li><%= link_to ride.name, "/rides/#{ride.id}", class: "btn btn-info" %></li>
  Thrill Rating for <%= "#{ride.name}" %>: <%= ride.thrill_rating %>
</ul>
<% end %>
<h6>Average Thrill Rating:
  <%= @park.average_thrill_rating %>/10
</h6>
