<h3>Amusement Park</h3>

<p>Name: <%= @amusement_park.name %></p>
<p>Admission Price: $<%= @amusement_park.admission_price %>.00</p>

<h4>All Rides:</h4>
<% @rides.order_by_name.each do |ride| %>
  <p><%= @rides.order_by_name.index(ride) + 1 %>. <%= ride.name %><p>
<% end %>

<p>Average Thrill Rating of Rides: <%= @rides.average_thrill_rating %>/10</p>
